@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: "Muli", "sans-serif;";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    color: #6f6985;
    text-align: left;
    background-color: #fff;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: "Muli", "sans-serif;";
    font-weight: 700;
    line-height: 1.3;
    color: #1e1835;
}

a {
    color: #ff5938;
    text-decoration: none;
    background-color: transparent;
}

.container {
    width: 100%;
    max-width: 934px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.buttoncontainer {
    padding: 10px 0px;
    float: right;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #6f6985;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .6rem 1rem;
    font-size: 1.05rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-orange {
    color: #fff;
    background-color: #ff5938;
    border-color: #ff5938;
}

.btn-purple {
    color: #fff;
    background-color: #672ebb;
    border-color: #672ebb;
}

.btn-sm {
    padding: 7px 15px;
    font-size: .875rem;
    line-height: 1.08;
    border-radius: .2rem;
}

#header-btn {
    font-weight: 200;
    padding: 2px 13px;
    font-size: 11px;
    line-height: 22px;
    border-radius: .2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(30, 24, 53, .1);
}

.sectionone {
    width: 100%;
    margin: 0px;
    background-image: url("../Images/home-second-hero-img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.sectiontwo {
    background-color: #1e1835;
}

.sectionthree {
    background-color: white;
    padding-bottom: 2.5rem;
}

.sectionsix {
    background-color: white;
}

/* Header CSS with media query */

.header {
    width: 100%;
    margin: auto;
    padding: 0px;
    background-color: #1e1835;
    height: 78px;
}

.topnav {
    overflow: hidden;
    max-width: 934px;
    margin: auto;
    padding: 18px 15px;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 11.5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

/*---Banner Styles---*/

#banner-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.08;
    margin-bottom: 1rem!important;
    color: #fff!important;
}

#banner-subtitle {
    margin-bottom: 1rem!important;
    color: #fff!important;
}

#bannerdescription {
    margin-bottom: 1rem!important;
    color: #fff!important;
    padding-right: 6rem!important;
    font-size: 13px;
}

.text-container {
    margin-top: 6%;
    margin-bottom: 18%;
    width: 50%;
    padding: 10px 0px 10px 31px;
}

/*---Banner Styles---*/

.text-container-2 {
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 50px;
}

.text-container-3 {
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 50px;
}

#section2header {
    color: #fff;
    margin-bottom: 1rem!important;
    font-size: 31px;
}

#section2description {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2.5rem!important;
}

#section3header {
    font-size: 33px;
}

#section3description {
    font-size: 13px;
    padding: 0px 30px;
}

.grid {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
    filter: grayscale(100%);
    opacity: 50%;
}

.img-container {
    text-align: center;
    margin-bottom: 20px;
}

.block {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

#blockheader {
    font-size: 35px;
}

#blockdescription {
    font-size: 16px;
    margin-top: 30px;
}

.imagecard {
    flex: 0 0 33.333%;
    width: 33.333%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thumb {
    overflow: hidden;
    border: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.thumbdesc {
    margin-top: -6.0rem!important;
    background-color: white;
    z-index: 10;
    position: relative;
    margin-right: 10%;
    border-top: solid 2px #ff5938;
    border-radius: 2.5px;
    padding: 0px 10px 10px;
}

.cardlink {
    font-weight: 700;
    color: #ff5938;
    text-decoration: none;
    border-bottom: 2px solid #ff5938;
}

#section4description {
    font-size: 16px;
    margin-top: 0rem;
}

.iconcard {
    flex: 0 0 33.333%;
    width: 33.333%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.iconcardbody {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2.5rem!important;
    border: 1px solid #eae9ec;
}

.iconcontainer {
    margin-bottom: 2rem!important;
}

.customicon {
    font-size: 22px;
    width: 3.375rem;
    height: 3.375rem;
    line-height: 4.375rem;
    border-radius: 50%!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.iconpurple {
    color: #672ebb!important;
    background-color: #ebddff!important;
}

.iconseablue {
    color: #1ebebe!important;
    background-color: #d0ffff!important;
}

.iconorange {
    color: #ea4336!important;
    background-color: #ffebea!important;
}

#carddescription {
    font-size: 12px;
    margin: 0rem;
}

/*---footer css---*/

.footer {
    background-color: #1e1835;
    color: #f8f9fa !important;
    font-size: .875rem;
    padding: 2.5rem 0 5.5rem 0;
}

.footer-wrapper {
    width: 60%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.footer-wrapper li {
    float: none;
}

.footer-wrapper li a {
    padding: 10px 0px 2px 0px;
    font-weight: 100;
    color: white;
    font-size: 13px;
}

.footer-wrapper h6 {
    font-size: 15px;
    color: white;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.footer-blocka {
    position: relative;
    width: 30%;
    padding-right: 12px;
    padding-left: 12px;
}

.footer-blockb {
    position: relative;
    width: 70%;
    padding-right: 12px;
    padding-left: 12px;
}

.footer-blockb h5 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.nomargin-row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-columns {
    position: relative;
    width: 25%;
    display: block;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ul:last-child, dl:last-child, ol:last-child {
    margin-bottom: 0;
}

.col-lg-3 {
    width: 23.5%;
    float: left;
    margin-right: 10px;
}

#subscribe {
    width: 100%;
}

.form {
    display: block;
    margin-top: 0em;
}

.form-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-style {
    display: block;
    width: 100%;
    height: calc(1.6em + 1.2rem + 2px);
    padding: .6rem 1rem;
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eae9ec;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*---- Media Queries ---- */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
    }
    #header-btn {
        font-weight: 200;
        padding: 7px 15px;
        font-size: 12px;
        line-height: 22px;
        border-radius: .2rem;
    }
    .buttoncontainer {
        padding: 10px 0px;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        background-color: #1e1835;
    }
    .topnav.responsive .icon {
        position: left;
        left: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .sectionone {
        background-size: 500px 620px;
    }
    .text-container {
        margin-top: 6%;
        margin-bottom: 18%;
        width: 100%;
        padding: 10px 0px 10px 31px;
    }
    .text-container-2 {
        max-width: 100%;
        padding: 20px 10px 35px 10px;
    }
    .text-container-3 {
        max-width: 100%;
        padding: 20px 10px 35px 10px;
    }
    #section3header {
        font-size: 22px;
    }
    #section2header {
        font-size: 21[x];
    }
    #section2description {
        font-size: 13px;
    }
    .grid {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .block {
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .imagecard {
        flex: 0 0 100%;
        margin-right: auto;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
    }
    #blockheader {
        font-size: 33px;
        padding: 0px 10px;
    }
    #blockdescription {
        font-size: 16px;
        /* margin-top: 30px; */
        padding: 0px 10px;
    }
    .iconcard {
        flex: 0 0 100%;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .footer {
        padding: 20px;
    }
    .footer-wrapper, .footer-blocka, .footer-blockb, .footer-columns {
        width: 100%;
    }
    .col-lg-3 {
        width: 100%;
    }
    .colorstrip-row {
        padding: 10px 20px;
    }
    .colorstrip-row a {
        display: block;
        margin-top: 10px;
    }
    .footer-columns {
        width: 50%;
    }
    .form-style{
        font-size: 13px;
    }
}

/*---- Media Queries ---- */